:root {
    --yy:#bebebe ;
    --bg:#e9e9e9 ;
    --lc: rgb(251, 255, 183);
}

$lc: var(--lc);
$mc: whitesmoke;
$bg: var(--bg);
$yy: var(--yy);
// $bg:#f7f1e6 ;
// $yy: #727521;

@import "reset";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable;

@import url("https://use.typekit.net/bto3byu.css");
//font-family: "futura-pt"
// font-family: "roc-grotesk-extrawide", 

::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}

body {
    background-color: $bg;
    overflow: hidden;

    .bg{
        object-fit: contain;
        position: fixed;
        top: 0%;
        right: 0%;
        width: 1920px;
        height: 1080px;
        overflow: hidden;

        .bgbg{
            background-color: $yy;
            opacity: .8;
            width: 100%;
            height: 100%;
            mask-image: url('../img/bgbg.png');
            -webkit-mask-image: url('../img/bgbg.png');
           mask-size: 70%;
           display: block;
           -webkit-mask-size: 70%;
           -webkit-mask-repeat: no-repeat;
           -webkit-mask-position: right;
           mask-position: right;
           transform-origin: center center;
        }
    }

    .loading{
        overflow: hidden;
        z-index: 5;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100vh;

        .loadbg{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .loadcon{
            .loadtitle{
                font: 3vw/1 "roc-grotesk-extrawide";
                font-variation-settings: "wght" 50, "wdth" 100;
                letter-spacing: -0.2vw;
                font-weight: 400;
                color: $lc;
                position: absolute;
                // z-index: 9;
                top: 20%;
                left: 15%;
                transform: rotate(10deg);
                transition: 3s;

                em{
                    font-size: 1.8vw;
                    margin-left: 20px;
                }
            }
        }
        &.on{
            opacity: 1;
        }
    }
    

main {
    width: 100%;
    height: 100vh;

    .topbox{
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 5;
        padding: 15px;        
        display: flex;
        color:$yy;

        background-image: linear-gradient(to right, $yy 33%, transparent 0%);
        background-position: bottom; 
        background-size: 12px 4px;/*점선 간격 수정*/
        background-repeat: repeat-x;
        
        a{
            display: flex;
            justify-content: start;
            padding-left: 55px;
            &:visited{
                color: $yy;
            }
            i{
                margin-right: 20px;
                font-size: 15px;
                &:hover{
                    font-size: 20px;
                }
            }
            p {
                font: normal 14px/1 "Helvetica";
                font-weight: 600;
                text-align: left;
            }
        }
        em{
            right: 32%;
            position: absolute;
            font: normal 14px/1 "Helvetica";
            font-weight: 600;
            text-align: right;
        }

        strong {
            font: normal 14px/1 "Helvetica";
            font-weight: 600;
            text-align: left;
            left: 72%;
            position: absolute;
        }

        &.on{
            color: $lc;
            background-image: none;
            a{
                &:visited{
                    color: $lc;
                }
            }
        }
    }

    .left{
        z-index: 4;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 185px;
        left: 70px;
        
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: start;
        
        color: $yy;
        
        .label{

            text-align: right;
            font: 15px/1.5 "Pretendard Variables";
            font-weight: 900;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 5px;
    
            img{
                width: 20px;
                margin-right: 10px;
            }

            p{
                opacity: 1;
            }
        }

        .listbox{
            width: 120px;
            height: 120px;

            background: linear-gradient(to bottom, $bg, transparent 0%, $bg);
            border: 1px solid $yy;
            border-radius: 10px;
            box-shadow: 0px 0px 3px $yy inset;
            overflow: hidden;
            
            .topline {
                height: 27px;
                padding: 0px 10px;

                border-bottom: 2px dotted $yy;
                background-color: $bg;

                display: flex;
                justify-content: space-between;
                align-items: center;

                font: bold 13px/1.5 "Pretendard Variables";
                
                i{
                    font-size: 17px;
                    opacity: 0;
                    text-shadow: 0px 0px 2px $bg;
                    &:hover{
                        font-size: 19px;
                    }
                }
            }
            .list{
                width: 100%;
                height: fit-content;
                
                display: flex;
                flex-flow: column;
                justify-content: start;
                align-items: center;

                .img{
                    width: 80%;              
                    img{
                        width: 100%;
                        object-fit: contain;
                        margin: 20px 0px;
                        pointer-events: none;
                    }
                }
              
                .lili{
                    opacity: 0;
                    width: 100%;
                    height: fit-content;

                .li{
                    width: 100%;
                    height: fit-content;

                    overflow: scroll;

                    display: flex;
                    flex-flow: column wrap;
                    align-items: start;
                    justify-content: center;

                        li{
                        width: 300%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                            a{
                                width: 300%;
                                height: 25px;

                                box-shadow: 0px 0px 2px $yy inset;
                                background-color: $bg;

                                padding: 0px 10px;
                                padding-top: 2px;

                            p{
                                color: $bg;
                                font: bold 15px/1 "Pretendard Variables";
                                display: inline-block;
                                width: fit-content;
                                text-shadow: 0px 0px 6px $yy;
                            }

                            &:hover{
                                    a{
                                        background-color: $bg;
                                        box-shadow: 0px 0px 1px $yy inset, 0px 0px 10px $bg;
                                    }
                                    p{
                                        font-size: 18px;
                                        color: $yy;
                                        text-shadow: 0px 0px 10px $yy;
                                    }
                                    p.long{
                                    animation: list 2s linear;
                                    }   
                            }
                        }
                    }

               
                    }
                }
            }
        }

        &:hover{
        .label > p{
            opacity: 1;    
            }
        .listbox{
            width: 200px;
            height: fit-content;
            box-shadow: 0px 0px 4px $yy;
            .list {
                .lili{
                opacity: 1;
                }
            }
            }
        }
    }

    .phone{
        z-index: 3;
        bottom: 0%;
        left: 0%;

        position: absolute;
        display: flex;
        
        overflow: hidden;
        transition: .1s;
        padding-top: 60px;

        .phog{
            // z-index: 3;
            .vidimg{
                position: absolute;
                width: 270px;
                height: 420px;
                right: 346px;
                top: 220px;

                overflow: hidden;
                pointer-events: none;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            
                video{
                    position:absolute;
                    width: 450px;
                    height: 300px;
                    left: 300px;
                    object-fit: cover;
                    transform: rotate(90deg);
                    transform-origin: top left;
                }

                .vidbg{
                    width: 100%;
                    height: 80%;
                    top: 0%;
                    position: absolute;
                    background: linear-gradient(to bottom, rgb(23, 23, 23) 3%, transparent );
                    
                }
            }

            .phoimg{
               
                width: 958px;
                height: 828px;
                pointer-events: none;
                img{
                    position: absolute;
                    width: 958px;
                    bottom: 0px;
                    right: 0%;
                    overflow: hidden;
                }
            }

            figure {
                position: absolute;
                width: 270px;
                height: 420px;
                right: 343px;
                top: 221px;

                display: flex;
                
                flex-flow: column;
                align-content: space-between;
            
                padding-top: 10px;
            
                .playergroup{
                    height: 40px;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    padding: 30px 22px;
            
                    .lyric {

                        position: relative;
                        width: 100%;
                        height: 100%;
                        
                        text-align: left;
                        color: $mc;
                        text-shadow: 0px 0px 3px $yy;
                        font: bold normal 16px/1 'Pretendard';
                        font-weight: 700;
                            
                        em {
                        font: normal normal 13px/1.5 'Pretendard Variables';
                        letter-spacing: 0px;
                        font-weight: 500;
                        }
                    }
            
                    article {
                        position: relative;
                        width: 100%;
                        height: 20px;
                        top: 45px;

                        display: flex;
                        justify-content: start;
                        align-items: flex-end;

                        text-align: left;
                        color: $mc;
                        text-shadow: 0px 0px 3px $bg;
                        font: normal normal 16px/1 'Pretendard';
                        font-weight: 700;
                        letter-spacing: 0px;

                        .btns{
                            width: 100%;
                            height: 20px;

                            display: flex;
                            justify-content: left;
                            align-items: flex-end;

                            i{
                            margin-right: 6px;
                            color: $mc;
                                &:hover {
                                    font-size:20px;
                                }
                            }
                            }                           
                        .time {
                            height: 100%;
                            display: flex;
                            justify-content: left;
                            align-items: baseline;
                            
                            font: normal normal 13px/1.5 'Helvetica';
                            text-shadow: 0px 0px 3px $yy;

                            padding-right: 50%;
                            padding-top: 1px;
                            margin-left: 10px;
                            em{
                                margin: 0px 5px;
                            }
                        }   
                    }
                }
            
                .folder {
                    position: absolute;
                    top: 120px;
                    width: 270px;
                    height: 300px;

                    padding: 20px;

                    font: bold normal 11px/1.5 'Pretendard Variable';
                    text-align: center;
                    text-shadow: 0px 0px 2px $yy;
                    color: $mc;
                
                    .f1, .f2, .f3, .f4{
                        position: absolute;
                        opacity: 0;
                        width: 45px;
                        
                        display: flex;
                        flex-flow: column;
                        justify-content: start;
                        align-items: center;
                            
                        transform-origin: center center;
                        img{
                            width: 100%;
                            opacity: .6;
                            pointer-events: none;
                        }
            
                        &:hover{
                            img{
                                transform: scale(1.1);
                                opacity: .8;
                                }
                            }
                        }
                    .f1{
                            right: 12%;
                            top: 34%;
                    }
                    .f2{
                        left: 20%;
                        bottom: 34%;
                    }
                    .f3{
                            right: 35%;
                            bottom: 10%;
                    }
                    .f4{
                            opacity: 1;
                            left: 10%;
                    }
                }
            
                section{
                    opacity: 0;
                    // z-index: 18;
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    top: 200%;
                    left: 10%;
                        
                    background: linear-gradient(to bottom, $bg, transparent 20%, $bg);
                    border: 1px solid $yy;
                    border-radius: 10px;
                    box-shadow: 0px 0px 3px $yy inset, 0px 0px 50px black;
                    background-color:rgba($color: whitesmoke, $alpha: .7);

                    display: flex;
                    flex-flow: column;
                    overflow: hidden;

                    .topline {
                        height: 27px;
                        width: 100%;

                        padding: 3px 10px;
                        box-shadow: 0px 0px 10px $yy;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        font: bold 13px/1.5 "Pretendard Variables";
                        color: $yy;

                        i{
                            color: $mc;
                            font-size: 16px;
                            text-shadow: 0px 0px 4px $yy;
                            &:hover{
                                font-size: 19px;
                            }
                        }
                    }
                    }

                .aabox{
                    opacity: 0;
                    height: 50%;
                    top: 200%;
                    margin-top: 20%;
                    .img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                .memobox, .about{
                    opacity: 0;
                    ::-webkit-scrollbar{
                        width: 3px;
                        height: 0px;
                        margin-right: 2px;
                    }
                    ::-webkit-scrollbar-thumb {
                        background-color: rgba(255, 255, 255, 0);
                        border: 30px dotted $yy;
                        box-shadow: 0px 0px 10px $yy;
                        border-radius: 6px;
                    }
                    ::-webkit-scrollbar-track {
                        background-color: rgba(190, 79, 79, 0);
                    }
                    .img{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        img{
                            width: 60px;
                            object-fit: contain;
                            margin: 20px 0px;
                            }
                    }

                    .log{
                        width: 100%;
                        height: 60%;

                        padding: 0px 25px;
                        padding-top: 2px;
                        overflow: scroll;
                        p{
                            overflow: scroll;
                            color: $yy;
                            text-align: justify;
                            font: bold 15px/1.8 "Pretendard Variables";
                            letter-spacing: -1px;     
                        }
                    }
                }

                .about{        
                    &.on{
                        opacity: 1;
                        top: 10%;
                    }
                }

                .infobox{
                    opacity: 0;
                    width: 94%;
                    height: 97%;
                    top: 200%;
                    left: 1%;

                    display: flex;
                    flex-flow: column;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
 
                    background: linear-gradient(to bottom, $bg , transparent 460%);
                    color: $yy;
                    padding-bottom: 10%;
                    transform: scale(1.4) translateY(-10%);
        
                    .title{
                        width: 100%;
                        height: fit-content;

                        padding: 10% 30px;
                        padding-bottom: 0;
                        font: 25px/1 "roc-grotesk-extrawide";
                        font-variation-settings: "wght" 50, "wdth" 100;
                        letter-spacing: -0.2vw;
                        font-weight: 400;
                        word-wrap: break-word;
                        text-align: center;
                        display: flex;
                        flex-flow: column;
                        margin-top: 0px;
                        em{
                            font-size: 15px;
                            margin-left: 10px;
                        }
        
                        .subtitle{
                            width: 100%;
                            height: 20px;
                            text-align: center;
                            font: 8px/1.5 "Pretendard Variables";
                            font-weight: 900;
                            letter-spacing: 0px;
                        }
                        img {
                            width: 30px;
                            height: 30px;
                            margin: 12% 40%;
                            object-fit: contain;
                            pointer-events: none;
                        }
                    }
        
                    .log{
                        height: 100%;
                        width: 100%;

                        overflow: hidden;
                        padding: 0 10%;
                        
                        font: normal normal 13px/1.5 "Helvetica";
                        font-weight: 900;
                        letter-spacing: -1px;
                        word-wrap: break-word;
                            
                        p {
                            overflow: scroll;
                            width: 100%;
                            color: $mc;
                            text-decoration: underline;
                            text-shadow: 0px 0px 3px $yy;
                            word-wrap: break-word;
                        }
                        em {
                            left: 74px;
                            font-style: normal;
                            position: absolute;
                        }
                    }
                }   
                
                .listmob{
                    height: fit-content;
                    color: $yy;
                    .list{
                        width: 100%;
                        height: fit-content;

                        display: flex;
                        flex-flow: column;
                        justify-content: start;
                        align-items: center;
        
                        .img{
                            width: 80%;         
                            img{
                                width: 100%;
                                object-fit: contain;
                                margin: 20px 0px;
                            }
                        }
                        .lili{
                            opacity: 1;
                            height: fit-content;
                            width: 100%;
                            .li{
                                width: 100%;
                                height: fit-content;
        
                                overflow: scroll;
                                margin-top: 0px;
                                display: flex;
                                flex-flow: column wrap;
                                align-items: start;
                                justify-content: center;
                                li{
                                width: 300%;
                                height: fit-content;
                                display: flex;
                                align-items: center;
            
                                    a{
                                        width: 300%;
                                        height: 25px;

                                        box-shadow: 0px 0px 2px $yy inset;
                                        background-color: $bg;
                                        padding: 0px 10px;
                                        padding-top: 2px;
                                        p{
                                            color: $yy;
                                            font: bold 15px/1 "Pretendard Variables";

                                            display: inline-block;
                                            width: fit-content;
                                        }
                            
                                    }
                                }
                            }
                        }
                    }
                }
            
                nav{
                    position:absolute;
                    width: 260px;
                    height: 45px;
                    left: 0px;
                    top: 415px;

                    color: $yy;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                        
                    padding: 10px;
                    text-shadow: 0px 0px 2px $yy;
                    font: bold normal 15px/2 'Pretendard Variable';

                    p{
                        color: $mc;
                        text-shadow: 0px 0px 2px $mc;
                    }
                    .prev, .next {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        fill: $yy;
                        
                        display: flex;
                        justify-content:center;
                        
                        object{
                            position: relative;
                            height: 100%;
                            object-fit: contain;
                            pointer-events: none;
                        }
                        span{
                            margin: 0px 15px;
                            transform: rotate(4deg);
                            opacity: 0;
                        }

                        &:hover{
                            object{
                            transform: scale(1.1);
                            }
                            span {
                                opacity: 1;
                            }
                        }
                    }
                    .next{
                        span{
                        transform: rotate(-4deg);
                        }
                    }
                    p{
                        margin: 0px 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .right{
        z-index: 3;
        position: absolute;
        height: 100%;
        width: 50%;  
        left: 45%;

        color: $yy; 
        overflow: hidden;
        
        background-image: linear-gradient(to bottom, $yy 33%, transparent 0%);
        background-position: center; 
        background-size: 4px 12px;/*점선 간격 수정*/
        background-repeat: repeat-y;

        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: start;

        .label{
            width: 5vw;
            overflow: visible;
            margin-right: 50px;

            text-align: right;
            font: 15px/1.5 "Pretendard Variables";
            font-weight: 900;
            
            word-wrap: break-word;
            display: flex;
            flex-flow: column;
            align-items: end;

            img {
                width: 20px;
                top: -10px;

                object-fit: contain;
                margin-bottom: 10px;
                pointer-events: none;
            }
        }

        .title{
            width: 100%;
            top: 120px;
            margin-top: 120px;

            display: flex;
            justify-content: start;
            align-items: start;
            height: fit-content;

           .label{
                img {
                width: 50px;
                object-fit: contain;
                margin-bottom: 15px;
                }
            }
            .titlebox{
                width: 80%;

                // display: flex;
                // flex-flow: column;
                padding-top: 20px;
                background-color: $bg;

                font: 4vw/1 "roc-grotesk-extrawide";
                font-variation-settings: "wght" 50, "wdth" 100;
                letter-spacing: -0.2vw;
                font-weight: 400;
                word-wrap: break-word;
                em{
                    font-size: 1.8vw;
                    margin-left: 20px;
                    // position: absolute;
                }
                
                .subtitle{
                    text-align: left;
                    font: 20px/1.5 "Pretendard Variables";

                    font-weight: 900;
                    letter-spacing: 0px;
                    margin-bottom: 20px;
                }
            }
            &:hover {
                .titlebox{
                    font-size: 5vw;
                }
            }
        }

        .bottom{
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: space-between;
            flex-flow: row;
            align-items: start;

            margin-top: 8%;
            overflow: scroll;
            
            .bottoml{
                width: 55%;
                height: 100%;
                overflow: scroll;

                .memo{
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    margin-bottom: 40px;

                    .label{
                        cursor: pointer;
                        img{
                            width: 25px;
                        }
                        i{
                            margin-top: 10px;
                            font-size: 15px;
                        }
                        .fa-arrow-alt-circle-right{
                            display: block;
                        }
                        .fa-arrow-alt-circle-left{
                            display: none;
                        }

                    }
                    .memor{
                        width: 40%;
                        height: fit-content;

                        overflow: scroll;
                        font: 15px/1.8 "Pretendard Variables";
                        letter-spacing: -1px;
                        font-weight: 700;
                        text-align: justify;
                        text-decoration: underline;

                        overflow: hidden;
                        text-overflow:ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;

                    }
                    &:hover{
                        .memor{
                            font-size: 16px;
                            -webkit-line-clamp: 20;
                        }
                        i{
                            font-size: 20px;
                        }                   
                    }
                }

                .aa{
                    height: 80%;

                    display: flex;
                    justify-content: start;
                    align-items: start;
                    
                    .aabox{
                        width: 20%;
                        min-width: 90px;
                        max-width: 160px;
                        height: fit-content;
                        img{
                            width: 100%;
                            object-fit: cover;
                            pointer-events: none;
                            border-radius: 10%;
                            border: 2px solid $yy;
                        }
                    
                    }

                    &:hover{
                    .aabox{
                        width: 30%;
                     }
                    }
                }

                &.on{
                    width: 100%;
                    .memor{
                        width: 75%;
                        overflow: auto;
                        text-overflow: none;
                        display: block;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }
                    .fa-arrow-alt-circle-right{
                    transform: rotate(180deg);
                    }
                }
            }
            .bottomr{
                z-index: 5;
                position: absolute;
                width: 70%;
                height: 120%;
                left: 55%;
                
                overflow: scroll;
                color: $yy;

                display: flex;
                justify-content: start;
                align-items: start;
                
                .infolog{
                    width: 100%;
                    text-shadow: -1px 0px $yy, 0px 1px $yy, 1px 0px $yy, 0px -1px $yy;
                    font: 18px/1.5 "Helvetica";
                    font-weight: 100;
                    word-wrap: break-word;

                    p {
                        display: inline-block;
                        width: 100%;
                        word-wrap: break-word;
                    }
                    em {
                        left: 66px;
                        position: absolute;
                    }
                }

                &.on{
                    left: 120%;
                }

                &:hover{
                    em{
                        left: 70px;
                    }
                }
            }
        }

        &.load{
            z-index: 5;
            background-image: linear-gradient(to bottom, $lc 33%, transparent 0%);
            transition:  opacity 0s;
            .bottoml, .title{
                opacity: 0;
                transition: all 0s;
            }
            .bottomr{
                .infolog{
                    transition: 0s;
                    color: $lc;
                    text-shadow: -1px 0px $lc, 0px 1px $lc, 1px 0px $lc, 0px -1px $lc;
                }
            }   
        }
    }

    footer{
        z-index: 5;
        position: fixed;
        width: 100%;
        height: 40px;
        bottom: 0%;
        
        color: $bg;
        background-color: $bg;
        box-shadow: 0px 0px 99px $yy inset, 0px 0px 20px black;

        .mobilenav{
            opacity: 0;
            position: absolute;
        }
        .winnav{
            position: absolute;
            width: 100%;
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                font: normal 18px/1 "Helvetica";
                color:$mc;
                font-weight: 900;
                text-shadow: 0px 0px 4px $yy;
            }
            em{
                font: normal 14px/1 "Helvetica";
                margin-left: 10px;
                font-weight: 600;
            }   
        }

        &.on{
            box-shadow: none;
            background-color: transparent;
            em, p{
                color: $lc;
            }
        }
    }


    @keyframes list {
        0%{
           transform: translateX(0%);
        }
        100%{
            transform: translateX(-27%);    
        }
    }
}

@media screen and (min-height: 946px){
    .bg {
        transform: scale(1.4);
        transform-origin: right center;
        overflow: hidden;
    }
    .phone {
        position: absolute;
        overflow: hidden;
        transform: scale(1.3) translate(15%, -10%); 
        transform-origin: top right;
        margin-top: 2%;  
    }

    .right{
        padding-top: 120px;
        .title{
            .titlebox{
                font: 5vw/1 "roc-grotesk-extrawide";
                &:hover{
                    .titlebox{
                        font-size: 6vw;
                    }
                }
            }
        }
    }

    .left{
        left: -40%;
        padding-top: 80px;
        &.on{
        padding-top: 120px;
        transform: scale(1.1) translate(8%, 5%);
        }
    } 
}

@media screen and (max-width:1434px){
    main{
        .left{
            left: -100%;
        }

        .phone{
            left: -18%;
            .phog{
                figure{
                    .folder{
                        .f1{
                            opacity: 1;
                        }
                    }       
                }
                .listmob{
                    &.on{
                        top:5%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// 모바일
@media screen and (max-width: 1159px){

   .loading{
        .loadtitle{
            opacity: 0;
        }
   }
    .bg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        transform: scale(3);
        .bgbg{
            width: 100%;
            height: 100%;
        }
    }

    main{
        .topbox{
            width: 100%;
            padding: 0;
            height: 40px;
            background-size: 0px 2px;
            box-shadow: 0px 0px 5px $yy;
            a, em, strong{
                opacity: 0;
                display: inline-block;
                width: 0;
                height: 0;
            }
               
            &::before{
                position: absolute;
                width: 50%;
                right: 50%;

                display: block;
                content: "nowey.eel";
                font: normal 15px/1 "Helvetica";
                color:$mc;
                font-weight: 900;
                text-align: center;
                text-shadow: 0px 0px 4px $yy;
                
                display: flex;
                justify-content: end;
                align-items: end;

                padding-top: 12px;
                padding-right: 2px;

            }
            &::after{
                position: absolute;
                width: 50%;
                left: 50%;

                display: block;
                content: "@onkea_art";
                font: normal 13px/1 "Helvetica";
                font-weight: 700;
                text-align: center;

                padding-left: 2px;
                padding-top: 14px;

                display: flex;
                justify-content: start;
                align-items: end;
            }
            &.on{
                box-shadow: 0px 0px 5px $lc;
                p, em{
                    color: $lc;
                }
                 color: $lc;
                }
        }

        .left{
        display: none;
        }

        .phone{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 50%;
            bottom: 0%;

            overflow: hidden;
            transform:  translate(-50%, 0%);

            .phog{
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: scale(.9) translate(-55%, 10%);

                .vidimg, figure{
                    top: 161px;
                }  
                figure{ 
                    .folder{
                        .f2, .f3{
                            opacity: 1;
                        }
                    }
                    section{
                        &.on{
                            opacity: 1;
                            top: 10%;
                        }
                    }
                    .listmob{
                        &.on{
                            opacity: 1;
                            top: 5%;
                        }
                    }
                    .infobox{ 
                        &.on{
                            opacity: 1;
                            top: 20%;
                        }
                    }
                }
            }
        }

        .right{
            z-index: 2;
            position: absolute;
            width: 100%;
            left: 0%;
            top: 0%;
            background-image: none;

            .label{
                display: none;
                width: 0;
                height: 0;
            }

            .title{
                position: absolute;
                width: 80%;
                height: 70px;
                top: 6vh;
                left: 10%;

                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                padding: 0px;
                background-color: none;
                margin-top: 0;
                text-align: center;

                .titlebox{
                    padding: 0;
                    // border: 1px solid saddlebrown;
                    font-size: 5vw;
                    font-variation-settings: "wght" 300, "wdth" 120;
                    text-align: center;
                    background-color: transparent;


                    em, .subtitle{
                        font-size: 0px;
                        display: none;
                    }
                }

                &::before {
                    position: absolute;
                    left: -50px;

                    margin-left: 10%;
                    margin-top: 8px;
                    display: block;
                    font: 27px/1 "Pretendard Variables";
                    font-weight: 500;
                    content: "*｡°{";

                    display: flex;
                    justify-content: left;                      
                }
                &::after {
                    position: absolute;
                    right: -50px;

                    margin-top: 8px;
                    margin-right: 10%;
                    font: 27px/1 "Pretendard Variables";
                    font-weight: 500;
                    display: block;
                    content: "}°｡*";  
                }
            }

            .bottom{
                display: none;
                width: 0%;
                height: 0%;
            }

            &.load{
                z-index: 5;
                top: 10%;
                color: $lc;
                .title{
                    opacity: 1;
                }
                .bottom{
                    display: block;
                    .bottomr{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 40%;
                        left: 50%;

                        transform: translateX(-38%);
                        .infolog{
                            text-shadow: -1px 0px $lc, 0px 1px $lc, 1px 0px $lc, 0px -1px $lc;
                        }
                    }
                    .bottoml{
                        display: none;
                        width: 0%;
                        height: 0%;
                    }
                }
            }
        }

        footer{
            
            width: 100%;
            height: 40px;
            margin-bottom: 0px;
            position: fixed;
            bottom: 0%;
            left: 0%;
            background-color: $yy;
            box-shadow: 0px 0px 80px $bg inset, 0px 0px 20px black;
            .winnav{
            z-index: 0;
                opacity: 0;
                display: none;
            }
        
            .mobilenav{
                opacity: 1;
                width: 100%;
                height: 100%;
                bottom: 0%;

                display: flex;
                justify-content: space-between;
                align-items: center;
            
                padding: 0px 20px;
                font-size: 20px;

                .btnl, .btnr{
                    width: 60px;
                    height: 30px;

                    box-shadow: 0px 0px 5px $yy, 0px 0px 5px $yy inset;
                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        font: 15px/1 "Helvetica";
                        font-weight: 900;
                        color: $bg;
                        text-shadow: 0px 0px 4px $yy;
                        transform: rotate(-4deg);
                    }
            }

                p{
                    font: normal 18px/1 "Helvetica";
                    color:$mc;
                    font-weight: 900;
                    text-shadow: 0px 0px 4px $yy;
                }  
            }

            &.on{
                p, em{
                    color: $lc;
                }
                color: $lc;
                .mobilenav{
                    .btnl, .btnr {
                        box-shadow: 0px 0px 5px $lc;
                        color: $lc;
                        p, em{
                            color: $lc;
                        }
                    }
                }
            }
        }
    }
    }
}
